@using NectaDataTransfer.Services
@using NectaDataTransfer.Shared.Models
@inject SessionService SessionService
@rendermode @(new InteractiveServerRenderMode(prerender:false))

<div class="navmenu" style="background: var(--neutral-layer-3); display: flex; padding: 10px;">
   
        <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />

    <label for="navmenu-toggle" class="navmenu-icon" title="Navigation Menu"><FluentIcon Value="@(new Icons.Regular.Size24.Navigation())" Color="Color.Fill" /></label>
            <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
            <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/home" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            @if (nusto != null)
            { 
                    // Online Registration (Private Candidates)
                    @if (nusto == "6")
                {
                    <FluentNavLink Href="oressource" Icon="@(new Icons.Regular.Size20.CloudDatabase())" IconColor="Color.Accent">Source Data</FluentNavLink>
                    <FluentNavLink Href="oresemis" Icon="@(new Icons.Regular.Size20.DatabaseWindow())" IconColor="Color.Accent">To EMIS</FluentNavLink>
                }
                // Transfer Sifa
                else if (nusto=="4")
                {
                    <FluentNavLink Href="sifasource" Icon="@(new Icons.Regular.Size20.CloudDatabase())" IconColor="Color.Accent">Sifa Source Data</FluentNavLink>
                    <FluentNavLink Href="sifadestination" Icon="@(new Icons.Regular.Size20.DatabaseWindow())" IconColor="Color.Accent">Sifa Destionation</FluentNavLink>
                }
                // PreM memu
                else if (nusto == "1")
                {
                    <FluentNavLink Href="source" Icon="@(new Icons.Regular.Size20.CloudDatabase())" IconColor="Color.Accent">PreM Source Data</FluentNavLink>
                    <FluentNavLink Href="emis" Icon="@(new Icons.Regular.Size20.DatabaseWindow())" IconColor="Color.Accent">PreM Destionation</FluentNavLink>
                }
                // PremS menu
                else if (nusto == "2")
                {
                    <FluentNavLink Href="source" Icon="@(new Icons.Regular.Size20.CloudDatabase())" IconColor="Color.Accent">PremS Source Data</FluentNavLink>
                    <FluentNavLink Href="emis" Icon="@(new Icons.Regular.Size20.DatabaseWindow())" IconColor="Color.Accent">PremS Destionation</FluentNavLink>
                }
            }
                </FluentNavMenu>

            </nav>
</div>

@code {
    private bool expanded = true;
    public string nusto { set; get; }

    public UserDto user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetSession();

            StateHasChanged();
        }
    }
    public async Task GetSession()
    {
        user = await SessionService.GetUserSession("user1");

        if (user != null)
        {
            nusto = user.MenuKey;
            StateHasChanged();
        }

    }

}